<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-6">
            <form style="margin-top: 25px;" [formGroup]= "reactForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name" formControlName="name" [ngClass]= "getNameValue && getNameValue.invalid && getNameValue.touched ? 'is-invalid' : getNameValue?.valid ? 'is-valid' : '' ">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email" [ngClass]= "getEmailValue && getEmailValue.invalid && getEmailValue.touched ? 'is-invalid' : getEmailValue?.valid ? 'is-valid' : '' ">
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" id="phone" placeholder="Enter phone" formControlName="phone" [ngClass]= "getPhoneValue && getPhoneValue.invalid && getPhoneValue.touched ? 'is-invalid' : getPhoneValue?.valid ? 'is-valid' : '' ">
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <textarea class="form-control" id="address" rows="3" formControlName="address" [ngClass]= "getAddressValue && getAddressValue.invalid && getAddressValue.touched ? 'is-invalid' : getAddressValue?.valid ? 'is-valid' : '' "></textarea>
                </div>
                <button type="submit" class="btn accenture-btn-color float-end" [disabled] = "reactForm.invalid">Checkout</button>
              </form>
        </div>


        <!-- ORDER SUMMARY -->
        <div class="col-6">
            <div style="margin: 25px;">
                <h5>Order Summary</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>Product Name</td>
                            <td>Qty</td>
                            <td>Total</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataOrder;let i=index;">
                            <td>{{ i+1 }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ (item.quantity! * item.price!) | number:'':'es' }}</td>
                        </tr>
                        <tr>
                            <th colspan="3">Total</th>
                            <td>{{ totalOrder | number:'':'es' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div style="position: fixed; width: 100%; bottom: 0;">
    <app-footer></app-footer>
</div>