<app-navbar></app-navbar>

<div style="width: 1280px; height: 350px; margin: 30px auto 50px;" class="container">
    <app-carousel [slides]="slides"></app-carousel>
</div>

<div class="container">
    <div class="row">
        <div class="col-3">
            <app-filter [product]="productList" (filteredProduct)="filteredProduct($event)"></app-filter>
        </div>
        <div class="col-9">
            <ng-container *ngFor="let item of productList">
                <div class="col-sm-4 card-padding" *ngIf="filterCat === 'All' || filterCat === item.category">
                    <div class="card">
                        <img class="card-img-top" src={{item.image}} alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <div class="float-end">
                                <button class="btn accenture-btn-color" (click)="viewDetails(item)">Details</button>
                                <button class="btn accenture-btn-color" (click)="addToCart(item)"><i-bs style="color:white" name="cart"></i-bs></button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            
        </div>

        
    </div>
</div>

<app-footer></app-footer>
