<app-navbar></app-navbar>

<div style="width: 1280px; height: 350px; margin: 30px auto 50px;" class="container">
    <app-carousel [slides]="slides"></app-carousel>
</div>

<div class="container">
    <div class="row">
        <div class="col-3">
            <app-filter></app-filter>
        </div>
        <div class="col-9">
            <div class="col-sm-4 card-padding">
                <div class="card">
                    <img class="card-img-top" src="https://media.istockphoto.com/id/628210852/id/foto/sepatu-olahraga.jpg?s=1024x1024&w=is&k=20&c=mdR5ULuI7D0d_dKFEdpnZW3Xk5tmj8j0Sr5jViCkmjQ=" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="float-end">
                            <a href="#" class="btn accenture-btn-color">Details</a>
                            <a href="#" class="btn accenture-btn-color"><i-bs style="color:white" name="cart"></i-bs></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 card-padding">
                <div class="card">
                    <img class="card-img-top" src="https://media.istockphoto.com/id/842096404/id/vektor/kaos-01.jpg?s=1024x1024&w=is&k=20&c=bVNU9EyHXH2lXJdTnTQQw5c466lNLzcIOy8hbbnTQVY=" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="float-end">
                            <a href="#" class="btn accenture-btn-color">Details</a>
                            <a href="#" class="btn accenture-btn-color"><i-bs style="color:white" name="cart"></i-bs></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 card-padding">
                <div class="card">
                    <img class="card-img-top" src="https://media.istockphoto.com/id/1151955708/id/foto/template-t-shirt-kosong-putih-pria-dari-dua-sisi-bentuk-alami-pada-manekin-tak-terlihat-untuk.jpg?s=1024x1024&w=is&k=20&c=JfuMAjUhA5TLLTztsFGJlOviCmuOf6Kj6wd7ZAnlNiw=" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="float-end">
                            <a href="#" class="btn accenture-btn-color">Details</a>
                            <a href="#" class="btn accenture-btn-color"><i-bs style="color:white" name="cart"></i-bs></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 card-padding">
                <div class="card">
                    <img class="card-img-top" src="https://media.istockphoto.com/id/1249496770/id/foto/sepatu-lari.jpg?s=1024x1024&w=is&k=20&c=1SxZ-ZMfmchdJ6M4fGXRQ4HdsCglB_Y9DqVehrTARJM=" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="float-end">
                            <a href="#" class="btn accenture-btn-color">Details</a>
                            <a href="#" class="btn accenture-btn-color"><i-bs style="color:white" name="cart"></i-bs></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</div>

<app-footer></app-footer>
