<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-4">
            <img class="img-resize" src="{{product?.image}}" alt="shoes">
        </div>
        <div class="col-8 description">
            <h3>{{product?.name}}</h3>
            <p>{{product?.category}}</p>
            <p>{{product?.description}}</p>
            <p>Rating: {{product?.rating}}</p>
            <div class="float-end">
                <p class="text-center">Rp {{ product?.price | number:'':'es' }},00</p>
                <button class="btn accenture-btn-color" (click)="addToCart()"> Add to cart</button>
            </div>
        </div>
    </div>
</div>

<div style="position: fixed; width: 100%; bottom: 0;">
    <app-footer></app-footer>
</div>
